* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #d2c8db;
}

.user-location-buttons {
  position: absolute;
  z-index: 1001;
  top: 5rem;
}

.leaflet-container {
  width: 90vw;
  height: 90vh;
  margin: auto auto;
}

.leaflet-div-icon {
  background: none !important;
  border: none !important;
}

.cluster-marker {
  color: #fff;
  background: #1978c8;
  border-radius: 50%;
  padding: 10px;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaflet-div-icon {
  background: none !important;
  border: none !important;
}

.cluster-marker {
  color: #fff;
  background: #1978c8;
  border-radius: 50%;
  padding: 10px;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-cluster {
  /* width: 32px;
  height: 32px; */
  line-height: 2.5rem;
  border-radius: 100%;
  background: linear-gradient(rgb(0, 162, 255), rgb(0, 255, 221));
  text-align: center;
  font-weight: bold;
}

.popup-button {
  color: white;
  background-color: rgba(0, 102, 255, 0.795);
  font-size: 14px;
  padding: 0.6rem 0.8rem;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 0.2rem;
}
