* {
  padding: 0;
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: rgb(210, 202, 212);
}

.loginPage {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-form {
  text-align: center;
  padding: 1rem;
}

.password-box {
  margin-top: 0.6rem;
}

.mb-3.input-group {
  justify-content: center;
}

.login-card {
  margin: 0.5rem;
}

.login-header {
  justify-content: center;
  background-color: #5b6066;
  color: #ededed;
}

.show-hide-location {
  font-size: 14px;
  width: 2.2rem;
  border: 1px gray solid;
}

.search-form {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 13%;
  z-index: 1002;
}

#footer {
  margin-top: 87vh;
  margin-left: 0.4rem;
  position: absolute;
  z-index: 1002;
}

.user-location-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1001;
  right: 0.3rem;
  top: 0.6rem;
}

.leaflet-container {
  width: 100vw;
  height: 92vh;
}

.leaflet-div-icon {
  background: none !important;
  border: none !important;
}

.cluster-marker {
  color: #fff;
  background: #1978c8;
  border-radius: 50%;
  padding: 10px;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaflet-div-icon {
  background: none !important;
  border: none !important;
}

.cluster-marker {
  color: #fff;
  background: #1978c8;
  border-radius: 50%;
  padding: 10px;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-cluster {
  line-height: 2.5rem;
  border-radius: 100%;
  background: linear-gradient(rgb(0, 162, 255), rgb(0, 255, 221));
  text-align: center;
  font-weight: bold;
}

.popup-button {
  color: white;
  background-color: rgba(0, 102, 255, 0.795);
  font-size: 14px;
  padding: 0.6rem 0.8rem;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 0.2rem;
}
